<form [formGroup]="userForm" class="mt-5" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label class="w-100">
            First Name:
            <input type="text" formControlName="firstName" class="form-control" required>
        </label>
        <div class="error-field" *ngIf="firstName.touched && firstName.invalid">
            First Name is Required
        </div>
    </div>

    <div class="form-group">
        <label class="w-100">
            Last Name:
            <input type="text" formControlName="lastName" class="form-control" required>
        </label>
        <div class="error-field" *ngIf="lastName.touched && !lastName.valid">
            Last Name is Required
        </div>
    </div>

    <div class="form-group">
        <label class="w-100">
            Email:
            <input type="email" formControlName="email" class="form-control" required>
        </label>
        <div *ngIf="email.invalid && (email.touched || email.dirty)">
            <div class="error-field" *ngIf="email.errors && email.errors.required">
                Email is Required
            </div>
            <div class="error-field" *ngIf="email.errors && email.errors.email">
                Invalid Email
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>
            Active
            <input type="checkbox" formControlName="isActive" class="form-control">
        </label>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="userForm.invalid">
        {{ buttonText }}
    </button>

    <app-user-error [userError]="userError" (onClose)="handleClose()"></app-user-error>

</form>